nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(255, 255, 255);
            padding: 10px 15px;
        }

        nav img {
            width: 60px;
        }

        nav .judul{
            color: black;
            font-size: 30px;
            font-weight: bold;
            margin-right: 1300px;
        }

        nav ul {
            display: flex;
            list-style: none;
        }

        nav ul li {
            margin-right: 20px;
        }
        
        nav ul li a {
            text-decoration: none;
            color: #333;
            font-size: 17px;
        }
body {
  font-family: "Poppins", sans-serif;
}


.berita-card {
  border: 2px solid #00aaff;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.berita-card img {
  height: 150px;
  object-fit: cover;
}

.berita-card:hover {
  transform: translateY(-5px);
}
