/*navbar*/
nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(255, 255, 255);
            padding: 10px 15px;
        }

        nav img {
            width: 60px;
        }

        nav .judul{
            color: black;
            font-size: 30px;
            font-weight: bold;
            margin-right: 1300px;
        }

        nav ul {
            display: flex;
            list-style: none;
        }

        nav ul li {
            margin-right: 20px;
        }
        
        nav ul li a {
            text-decoration: none;
            color: #333;
            font-size: 17px;
        }

        .awalan {
            text-align: center;
            padding:  20px;
            margin-top: 0px;
            padding-top: 0;
        }

        .awalan h1{
            color: #000000;
            font-weight: bold;
            font-size: 40px;
        }
        .awalan h1 .highlight {
            color: #54D3FF;
        }
        .card-gambar{
            text-align: center;
            margin: 20px 0;
           
        }
        .card-gambar img{
            width: 80%;
            max-width: 900px;
            height: auto;
            border-radius: 10px;
        }
        .card-img-top{
            height: 200px;
            object-fit: cover;
        }
       .card-wrapper {
          background: linear-gradient(135deg, #007bff, #00c6ff);
          padding: 5px; 
          border-radius: 10px;
        }

        .card-inner {
           background: white;
           border-radius: 7px;
           height: 100%;
        }
